name: YAPF Formatting
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: run YAPF to format python code
      uses: block42-blockchain-company/yapf-action@master
      with:
        args: [--verbose, --style=pep8]
